<div class="row">
	<div class="col-md-12">
		<div class="panel">
			<div class="panel-body">
				<div class="row">
					
					<div class="col-md-10">
						<span class="col-md-12"><i class="fa fa-terminal fa-lg">  <span>cd ../about</span></i></span>
						<span class="col-md-12"><i class="fa fa-terminal fa-lg"> </i></span>
						<span class="col-md-12">&nbsp;</span>
						<div class="col-md-5">
							<img src="images/headshotSm.jpg" alt="Headshot" class="img-responsive img-rounded">
						</div>
						<div class="col-md-7">
							<p>I like to bike, I like to read, I like to program. Somewhere between those I find time for making art, enjoying local beer, and occasionally some craft cocktails. </p>
							<p>When it comes to programming, I've got four years of college experience at a small liberal arts school and about a year and a half as a PHP Dev at <a href="http://www.linkup.com">linkup.com</a>. I like to think I've got a good sense for creating well encapsulated, object oriented code. I pride myself on my ability to pick up new programming languages and frameworks quickly and easily. I've always thought of myself as a perpetual student, and I hope to never stop learning new skills.</p>
							<p>While I've got an eye for design from my art background, and so consider myself well adapted to frontend development, I enjoy the higher level planning and more nitty gritty side of backend development. I think there's more of a puzzle in building good backend code than there is on the frontend, and tend to gravitate more to wanting to find solutions for those puzzles.</p>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</div>
</div>

