<div class="modal-header">
	<button type="button" class="close" aria-label="Close" ng-click="modal.close()"><span aria-hidden="true"><i class="fa fa-close"></i></span></button>
	<h3 class="modal-title">{{modal.image.title}}</h3>
</div>
<div class="modal-body">
	<div class="row">
		
		<img ng-src="{{modal.image.url}}" alt="" class="img-responsive img-rounded center-block">
		<a class="left carousel-control" ng-click="modal.left()"><span class="col-sm-12 text-left"><i class="fa fa-caret-left fa-2x"></i></span></a>
		<a class="right carousel-control" ng-click="modal.right()"><span class="col-sm-12 text-right"><i class="fa fa-caret-right fa-2x"></i></span></a>
	</div>
</div>
<div class="modal-footer">
	<h5>{{modal.image.caption}}</h5>
</div>