<div class="main-content">
	<div class="row">
		<div class="col-md-12">
			<div class="panel">
				<div class="panel-body">
					<div class="row">
						
						<div class="col-md-12">
							<span class="col-md-12"><i class="fa fa-terminal fa-lg">  <span>cd ../notfound</span></i></span>
							<span class="col-md-12"><i class="fa fa-terminal fa-lg"> </i></span>
							<span class="col-md-12"><i class="fa fa-terminal fa-lg"> </i></span>
							<span class="col-md-12"><i class="fa fa-terminal fa-lg"> </i></span>
							<span class="col-md-12"><i class="fa fa-terminal fa-lg"> </i></span>
							<span class="col-md-12"><i class="fa fa-terminal fa-lg"> <span>bash: cd: No such file or directory
</span></i></span>
							<span class="col-md-12">&nbsp;</span>
							<div class="col-md-4">
								<h1>Page not found</h1>
							</div>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</div>

