<div class="row">
	<div class="col-md-12">
		<div class="panel">
			<div class="panel-body">
				<div class="row">
					
					<div class="col-md-12">
						<span class="col-md-12"><i class="fa fa-terminal fa-lg">  <span>cd ../portfolio</span></i></span>
						<span class="col-md-12"><i class="fa fa-terminal fa-lg"> </i></span>
						<span class="col-md-12">&nbsp;</span>
						<hr>
					</div>
					<div class="col-md-12">
						<div class="col-md-12">
							<h4 class="text-right"><strong>Undergraduate Thesis</strong></h4>
							<h3 class="text-center"><strong>"For Everything That Works..."</strong></h3>
							<span class="col-md-12">&nbsp;</span>
							<div class="col-md-6">
								<ds-slideshow type="mandala" format="carousel"></ds-slideshow>
							</div>
							<div class="col-md-6">
							<span class="col-md-12">&nbsp;</span>
								<p>My senior thesis at Central College was an interactive installation where I used my two focuses, art and computer science, to create a program in <a href="https://processing.org/">Processing</a> that reinterpreted text in real time typed by a participant into an animated mandala like representation of that input.</p>
								<p>The image was then projected on to a set of three hanging panels, which slightly angled, reflected the image back onto the wall off to the side of participant.</p>
								<p>It was displayed in May of 2013, at Central College as part of the Senior Seminar Gallery</p>
								<span class="col-md-12 text-center"><a href="images/tech/thesis/artistStatement.pdf" target="_blank"><i class="fa fa-file-pdf-o fa-lg"> Artist Statement </i> </a></span>
								<span class="col-md-12">&nbsp;</span>
								<span class="col-md-12 text-center"><a href="images/tech/thesis/artThesisProgram.zip" target="_blank"><i class="fa fa-file-archive-o fa-lg"> Program Zip </i></a></span>
							</div>
						</div>
						<span class="col-md-12">&nbsp;</span>
						<div class="col-md-12">
							<span class="col-md-12"><i class="fa fa-terminal fa-lg">  <span>cd ../portfolio/art</span></i></span>
							<span class="col-md-12"><i class="fa fa-terminal fa-lg"> </i></span>
							<span class="col-md-12">&nbsp;</span>
							<hr>
						</div>
						<div class="col-md-12">
							<h4 class="text-right"><strong>Printmaking</strong></h4>
							<span class="col-md-12">&nbsp;</span>
							<div class="col-md-12">
								<ds-slideshow type="prints" format="grid"></ds-slideshow>
							</div>
						</div>
						<div class="col-md-12">
							<h4 class="text-right"><strong>3D</strong></h4>
							<span class="col-md-12">&nbsp;</span>
							<div class="col-md-12">
								<ds-slideshow type="3d" format="grid"></ds-slideshow>
							</div>
						</div>
					</div>

				</div>
				
			</div>
		</div>
	</div>
</div>