<div class="row">
	<div class="col-md-12">
		<div class="panel">
			<div class="panel-body">
				<div class="row">
					
					<div class="col-md-12">
						<span class="col-md-12"><i class="fa fa-terminal fa-lg">  <span>cd ../resume</span></i></span>
						<span class="col-md-12"><i class="fa fa-terminal fa-lg"> </i></span>
						<span class="col-md-12">&nbsp;</span>
					</div>

					<div class="col-md-12 text-center">
						<h3><strong>Current Work</strong></h3>
						<hr>
						<span class="col-md-4"><a href="http://www.linkup.com" target="_blank">LinkUp Job Search Engine</a></span>
						<span class="col-md-4">PHP Programmer</span>
						<span class="col-md-4">May 2014 - Current</span>
					</div>
					<div class="col-md-12">&nbsp;</div>
					<div class="col-md-12">
						<ul>
							<li>Adding jobs and companies to the linkup job index through the development of scraping tools as well as custom scraping scripts</li>
							<li>Frontend development of internal dashboards</li>
							<li>Day-to-day technical support for PayPer Click campaigns (Ensuring clients are currently index, troubleshooting spend problems)</li>
							<li>Development of internal systems, and reworking legacy code</li>
						</ul>
					</div>
					<div class="col-md-12">
						<h5 class="text-center"><strong>Projects</strong></h5>
						<hr>
						<div class="col-md-12">
							<ul>
								<li>Part of development for an internal system for optimizing an advertised job posting to targeted geographic areas</li>
								<li>Optimized integrations between Linkup's scrape system and various Applicant Tracking Systems used by companies indexed by Linkup.</li>
								<li>Building an internal dashboard for managing PayPerClick campaigns using AngularJS</li>
							</ul>
						</div>
						
					</div>

					<div class="col-md-12">&nbsp;</div>

					<div class="col-md-12 text-center">
						<h3><strong>Skills</strong></h3>
						<hr>
					</div>
					<div class="col-md-12">
						<span class="col-md-4 text-center"><strong>Web Development</strong></span>
						<span class="col-md-8">PHP, Silex Framework, Composer Dependency Management, MySQL, HTML/CSS, AngularJS, JQuery</span>
						<span class="col-md-8 col-md-offset-4">Solid foundation in Object Oriented Design</span>
						<span class="col-md-8 col-md-offset-4">Dynamic, responsive, and agile design principles</span>
						<span class="col-md-12">&nbsp;</span>
						<span class="col-md-4 text-center"><strong>Customer Service</strong></span>
						<span class="col-md-8">Handling of requests, questions, and complaints from customers</span>
					</div>

					<div class="col-md-12">&nbsp;</div>

					<div class="col-md-12 text-center">
						<h3><strong>Education</strong></h3>
						<hr >
						<span class="col-md-4">Central College, Pella, IA</span>
						<span class="col-md-4">3.75/4.00 GPA</span>
						<span class="col-md-4">2009 - 2013</span>
						<span class="col-md-12">&nbsp;</span>
						<div class="col-md-12 text-left">
							<ul>
								<li>Studied in Art and Computer Science</li>
								<li>Graduated Magna Cum Laude</li>
								<li>Coursework covering: software development, algorithm analysis, web technologies, studio artwork in traditional printmaking, glassblowing, drawing, ceramics, and various courses in art theory, and history </li>
							</ul>
						</div>
					</div>

				</div>					
			</div>
		</div>
	</div>
</div>

