<div class="row" ng-if="slideshow.format == 'carousel'">
	<div class="carousel slide">

	</div>

	<div class="carousel-inner">
		<div class="item" ng-class="{active: slideshow.active == slideshow.images.indexOf(image)}" ng-repeat="image in slideshow.images">
			<img ng-src="{{image.url}}" ng-click="slideshow.maximize(image)" class="img-responsive">
			<div class="carousel-caption">
				<h5>{{image.caption}}</h5>
			</div>
		</div>
	</div>

	<a class="left carousel-control" ng-click="slideshow.prev()"><span class="col-md-12 text-left"><i class="fa fa-caret-left fa-lg"></i></span></a>
	<a class="right carousel-control" ng-click="slideshow.next()"><span class="col-md-12 text-right"><i class="fa fa-caret-right fa-lg"></i></span></a>
</div>

<div class="row" ng-if="slideshow.format == 'grid'">
	<div class="col-md-3 col-sm-6 grid-slideshow" ng-repeat="image in slideshow.images">
		<div class="row">
			<img ng-src="{{image.thumb}}" alt="{{image.title}}" class="grid-image img-thumbnail img-responsive" ng-click="slideshow.maximize(image)">
		</div>
	</div>
</div>