/**
 * Custom css
 */


html {
  overflow: hidden;
  height: 100%;
}

body {
	overflow: auto;
 	height: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	font-family: 'Exo', sans-serif;
}

.fa span{
	font-family: 'Exo', sans-serif;
}

.top-banner{
	background-size: cover;
	display: flex;
    align-items: baseline;
}

.carousel-control{
	display: flex;
	align-items: center;
	text-shadow: null;
	opacity: 1;	
}

.carousel-inner img {
  margin: auto;
}

.header-lines{
	background-color: rgba(238,238,238, .45);
	-moz-border-radius: 15px;
	border-radius: 15px;
}

.grid-slideshow{
	margin-top:10px;
	margin-bottom: 10px;
}

.modal-open {
 overflow: auto; 
}

.modal-backdrop {
  bottom: 0;
}

.side-control{
	height: inherit;
	display: flex;
}

.v-middle{
	display: flex;
	align-items:center;
}

.carousel-control.right{
	background-image: unset;
}

.carousel-control.left{
	background-image: unset;	
}