<!DOCTYPE html>
<html ng-app="MainApp">
	<head>
		<title>DStumme | Resume</title>

		<link href='http://fonts.googleapis.com/css?family=Arvo:400,700|Exo:500,700,900' rel='stylesheet' type='text/css'>

		<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap-theme.min.css">
		<link rel="stylesheet" type="text/css" href="font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="app.css">

		<base href="/">

	</head>
	<body ng-controller="MainController as main">

		<div class="container-fluid">
			<nav class="navbar navbar-default navbar-fixed-top">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" ng-click="main.navbarCollapsed = !main.navbarCollapsed">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					      </button>
					</div>
					<div class="collapse navbar-collapse" collapse="main.navbarCollapsed">
						<ul class="nav navbar-nav navbar-left">
							<li><a ui-sref="home">Home</a></li>
							<li><a ui-sref="resume">Resume</a></li>
							<li><a ui-sref="portfolio">Portfolio</a></li>
						</ul>
						<ul class="nav navbar-nav navbar-right">
							<li>
								<a href="http://www.linkedin.com/in/destumme" class="navbar-brand" target="_blank">
									<i class="fa fa-linkedin fa-lg"></i>
								</a>
							</li>
							<li>
								<a href="mailto:destumme@gmail.com" class="navbar-brand" target="_blank">
									<i class="fa fa-envelope fa-lg"></i>
								</a>
							</li>
							<li>
								<a href="http://twitter.com/DaringStumbles" class="navbar-brand" target="_blank">
									<i class="fa fa-twitter fa-lg"></i>
								</a>
							</li>
							<li>
								<a href="http://dangerous-stumbling.tumblr.com/" class="navbar-brand" target="_blank">
									<i class="fa fa-tumblr fa-lg"></i>
								</a>
							</li>
						</ul>
					</div>
					
				</div>
			</nav>

			

			<div class="row top-banner" ng-style="style={'background-image':'url(\'images/backgrounds/' + main.header.url + '\')',	'height':main.header.height }">
				<div class="container text-center">
					<div class="row">
						<div class="col-md-12 header-lines">
							<h2><strong>Daniel Stumme</strong></h2>
							<h3><strong>PHP Programmer</strong></h3>
							<h3><strong>Minneapolis, MN</strong></h3>
						</div>
					</div>
				</div>
			</div>

			
				<div class="container">
					<div class="main-content" ng-style="style={'margin-top': main.header.offset}">
						<div ui-view></div>
					</div>
				</div>

			<hr>
			<div id="footer">
		    	<div class="container">
					<h5 class="text-right">Daniel Stumme. 2015. Built using AngularJS and Bootstrap</h5>
		    	</div>
		    </div>
		 </div>

		<script src="lib/jquery-2.1.4.min.js"></script>
		<script src="bootstrap/js/bootstrap.min.js"></script>

		<script src="lib/angular.js"></script>
		<script src="lib/angular-ui-router.js"></script>
		<script src="lib/ui-bootstrap-tpls.min.js"></script>
		<script src="app/app.js"></script>
		<script src="app/controllers.js"></script>
		<script src="app/directives.js"></script>
	</body>
</html>